# Storage & Database Infrastructure Config
POSTGRES_USER=qpayflow
POSTGRES_PASSWORD=qpayflow_secret
POSTGRES_DB=qpayflow_db
POSTGRES_PORT=5432
POSTGRES_HOST=localhost

REDIS_HOST=localhost:6379
REDIS_PORT=6379

KAFKA_PORT=9092
KAFKA_BROKERS=localhost:9092

# Application Microservices Custom Ports
API_GATEWAY_PORT=8000
PAYMENT_SERVICE_PORT=8001
ACCOUNT_SERVICE_PORT=8002
FRAUD_SERVICE_PORT=8003
NOTIFICATION_SERVICE_PORT=8004

# UI / Observability Dashboard Ports
KAFKA_UI_PORT=8080
PROMETHEUS_PORT=9090
GRAFANA_PORT=3000
JAEGER_UI_PORT=16686
JAEGER_OTLP_PORT=4317
