# Infrastructure Ports & Passwords
POSTGRES_USER=qpayflow
POSTGRES_PASSWORD=qpayflow_secret
POSTGRES_DB=qpayflow_db
POSTGRES_PORT=5433

REDIS_PORT=6380

KAFKA_PORT=9092
KAFKA_UI_PORT=8080

PROMETHEUS_PORT=9090
GRAFANA_PORT=3000

JAEGER_UI_PORT=16686
JAEGER_OTLP_PORT=4317

# Microservices Ports
API_GATEWAY_PORT=8000
PAYMENT_SERVICE_PORT=8001
ACCOUNT_SERVICE_PORT=8002
FRAUD_SERVICE_PORT=8003
NOTIFICATION_SERVICE_PORT=8004

# Application Configuration
LOG_LEVEL=info
ENVIRONMENT=development
